.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.product-form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}